* {
    margin: 0;
    padding: 0;
  }

 header {
    background-color: #0c1368;
    color: rgb(17, 8, 8);
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

nav ul {
    display: flex;
  }
 
  nav li {
    margin-left: 20px;
  }

  .destaque {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
 
  .destaque-item {
    flex: 1 1 30%;
    margin-bottom: 20px;
  }
 
  .destaque-item img {
    width: 100%;
  }

  footer {
    background-color: #0c1368;
    color: white;
    text-align: center;
    padding: 10px;
  }

